{% extends "base.html" %}

{% block title %}
    WST: ABOUT
{% endblock %}

{% block content %}
    <h1>About the Developer</h1>
    <p>A.</p>
    <br>
    <h1>Project Goals</h1>
    <p>College students need a lot of things: electronics, furniture, gadgets, or maybe even a video game console (!). However, not every college student can afford to buy everything they need exactly when they need it. Second-hand items? Sure—they're usually much more affordable.</p>
    <p>Still, the world we live in can be a bit intimidating. You probably don't want to visit a random stranger's house to pick up a TV, and you definitely don’t want strangers walking into your bedroom either.</p>
    <p>What if there were a community made exclusively for Weber State students? A place where you could post items you no longer need to earn a bit of pocket money—or simply give them away to free up space in your tiny room.</p>
    <p>And what if exchanges could happen at familiar, public locations like in front of Noorda EAST Building, Stewart Library, or Shepard Union? Wouldn't that make you (and other students as well) feel much safer compared to dealing with complete strangers?</p>
    <p>[WSU Trading] aims to create a face-to-face, hassle-free, and safe exchange environment exclusively for students at Weber State University.</p>
{% endblock %}



